BACKEND_PORT=3001
NODE_ENV=development
FRONTEND_ORIGIN=http://localhost:5173
DNS_TIMEOUT_MS=10000
HTTP_TIMEOUT_MS=15000
TLS_TIMEOUT_MS=10000
TCP_TIMEOUT_MS=5000
WHOIS_TIMEOUT_MS=10000
WHOIS_MAX_BYTES=65536
